<!DOCTYPE html>
<html>
<head>
    <title>Food Data</title>
</head>
<body>
    <h1>Food Data</h1>
    {{range .}}
        <p>Name: {{.Name}}</p>
        <p>Reference Weight: {{.ReferenceWeight}}</p>
        <p>Measurement Unit Name: {{.MeasurementUnit.Name}}</p>
        <p>Measurement Unit Weight: {{.MeasurementUnit.Weight}}</p>
        <h2>Nutritional Values</h2>
        <p>Energy: {{.NutritionalValues.Energy}}</p>
        <p>Fat: {{.NutritionalValues.Fat}}</p>
        <p>Saturated Fatty Acids: {{.NutritionalValues.SaturatedFattyAcids}}</p>
        <p>Carbohydrates: {{.NutritionalValues.Carbohydrates}}</p>
        <p>Sugar: {{.NutritionalValues.Sugar}}</p>
        <p>Protein: {{.NutritionalValues.Protein}}</p>
        <p>Salt: {{.NutritionalValues.Salt}}</p>
        <p>Fiber: {{.NutritionalValues.Fiber}}</p>
        <p>Water: {{.NutritionalValues.Water}}</p>
        <hr>
    {{end}}
</body>
</html>